.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items:baseline; */
    background-color: rgb(228, 186, 106);
    color: rgb(130, 88, 12)

  }

  .Title-Subtitle {
      padding-bottom: 2em;
      color: rgb(130, 88, 12);
    }

  .Title a {
      display:inline-block;
      padding: 1em;
      color: rgb(130, 88, 12);
      font-weight: bold;
      margin: 1.5rem;
      margin-top: -1rem;
      text-decoration: none;
    } 

  .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }