.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items:baseline; */
    background-color: rgb(156, 34, 162);
    color: #bce1eb;

  }

  .Title-Subtitle {
      padding-bottom: 2em;
      color: #d9ecf1;
    }

  .Title a {
      display:inline-block;
      padding: 1em;
      color: #bce1eb;
      font-weight: bold;
      margin: 1.5rem;
      margin-top: -1rem;
      text-decoration: none;
    } 

  .Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }