.container {
    box-sizing:border-box;
    display:flexbox;
    justify-content: center;
    align-items: baseline;
    margin: 2em;
    background-color:#bce1eb ;
    /* color: rgb(156, 34, 162); */

  }

.h1 {
    color: rgb(156, 34, 162);
    background-color:#bce1eb ;


}  
/*  
#About {
    background-color:#bce1eb ;

} */