.random {
    color: rgb(130, 88, 12);
    border: 2px solid rgb(130, 88, 12);
    background-color: rgb(228, 186, 106);
    border-radius:25%; 
  }

.random:active {
    color: rgb(228, 186, 106);
    border: 2px solid rgb(228, 186, 106);
    background-color: rgb(130, 88, 12);
    border-radius:25%; 
}