.POPOSSpace {
    width: 100%;
    text-align: center;
    background-color: #bce1eb;
    padding: 10px;
    margin-bottom: -2rem;

  }
  
  .POPOSSpace > img {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }

  .hours {
      font-style: italic;
      font-size:small;
  }

  /* .descriptions {
        font-size:xx-small;
        font-style:bold;
  } */

  