.POPOSList {
    width: calc(100% - 80px);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

.container {
    background-color:  #e2e2c8;
    padding: 6rem;

}

