.POPOSSpace {
    width: 100%;
    text-align: center;
    background-color: #bce1eb;
    padding: 10px;

  }
  
  .POPOSSpace > img {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }

  